<div class="row" data-id="{{id}}">
  <!-- <div class="col s2">
    <div class="card">
      <div class="card-image">
        <img class="circle responsive-img" src="/imgs/{{image_url}}" />
      </div>
    </div>
  </div>
  <div class="col s4">
    <b>{{name}}</b>
  </div>
  <div class="col s2">
    <b>{{price}}</b>
  </div>
  <div class="col s2">
    <b>{{cnt}}</b>
  </div> -->
  <div class="col s12">
    <div class="card-panel grey lighten-5 z-depth-1">
      <div class="row valign-wrapper">
        <div class="col s2">
          <img src="/imgs/{{image_url}}" alt="" class="responsive-img" />
          <!-- notice the "circle" class -->
        </div>
        <div class="col s10">
          <span class="black-text">
            <div class="col s6">
              <b>{{name}}</b>
            </div>
            <div class="col s3">
              <b>{{price}}</b>
            </div>
            <div class="col s3">
              <b>{{cnt}}</b>
            </div>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
